/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-dark: oklch(0.1 0 274);
  --bg: oklch(0.15 0 274);
  --bg-light: oklch(0.2 0 274);
  --text: oklch(0.96 0 274);
  --text-muted: oklch(0.76 0 274);
  --highlight: oklch(0.5 0 274);
  --border: oklch(0.4 0 274);
  --border-muted: oklch(0.3 0 274);
  --primary: oklch(0.76 0.1 274);
  --secondary: oklch(0.76 0.1 94);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

body.light {
  --bg-dark: oklch(0.92 0.065 207);
  --bg: oklch(0.96 0.065 207);
  --bg-light: oklch(1 0.065 207);
  --text: oklch(0.15 0.13 207);
  --text-muted: oklch(0.4 0.13 207);
  --highlight: oklch(1 0.13 207);
  --border: oklch(0.6 0.13 207);
  --border-muted: oklch(0.7 0.13 207);
  --primary: oklch(0.4 0.13 207);
  --secondary: oklch(0.4 0.13 27);
  --danger: oklch(0.5 0.13 30);
  --warning: oklch(0.5 0.13 100);
  --success: oklch(0.5 0.13 160);
  --info: oklch(0.5 0.13 260);
}
