@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/woff2Fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.woff2");
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/woff2Fonts/Orbitron-VariableFont_wght.woff2");
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-dark: oklch(0.1 0 274);
  --bg: oklch(0.15 0 274);
  --bg-light: oklch(0.2 0 274);
  --text: oklch(0.96 0 274);
  --text-muted: oklch(0.76 0 274);
  --highlight: oklch(89.857% 0.00985 16.771);
  --border: oklch(0.4 0 274);
  --border-muted: oklch(0.3 0 274);
  --primary: oklch(0.76 0.1 274);
  --secondary: oklch(0.76 0.1 94);
  --danger: oklch(63.932% 0.18474 32.073);
  --warning: oklch(92.826% 0.18202 102.607);
  --success: oklch(66.475% 0.15351 153.883);
  --info: oklch(67.881% 0.13757 260.478);
  --hover-highlight: oklch(0% 0 0);
  --blue-border: oklch(63.042% 0.16069 251.222);
  font-size: 10px;
  font-family:
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --bar-width: 15px;
  --bar-height: 2px;
  --hamburger-gap: 5px;
}

::backdrop {
  background-color: var(--bg-dark);
  opacity: 0.85;
}

body.light {
  --bg-dark: oklch(0.92 0.065 207);
  --bg: oklch(0.96 0.065 207);
  --bg-light: oklch(1 0.065 207);
  --text: oklch(0.15 0.13 207);
  --text-muted: oklch(0.4 0.13 207);
  --highlight: oklch(1 0.13 207);
  --border: oklch(0.6 0.13 207);
  --border-muted: oklch(0.7 0.13 207);
  --primary: oklch(0.4 0.13 207);
  --secondary: oklch(0.4 0.13 27);
  --danger: oklch(0.5 0.13 30);
  --warning: oklch(0.5 0.13 100);
  --success: oklch(0.5 0.13 160);
  --info: oklch(0.5 0.13 260);
  --hover-highlight: oklch(100% 0.00011 271.152);
}

body {
  font-family: "Google Sans";
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;
  background-color: var(--bg-dark);
  font-size: clamp(1.2rem, 2.7dvw, 1.7rem);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0rem;
  color: var(--text);
  font-size: clamp(1.2rem, 3.5dvw, 2.3rem);
  font-family: "Orbitron";

  > button {
    position: absolute;
    right: 0;
    border-radius: 15px;
    border: none;
    background-color: var(--bg);
    padding: 0.7rem 1.5rem;
    box-shadow: 2px 5px 2px var(--bg-light);
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
  }

  > button:hover {
    transform: scale(1.06);
  }
}

footer {
  padding: 2rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 15px;
  position: relative;
  display: grid;
  place-items: center;

  button.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background: var(--bg-light);
    border-radius: 5px;
    border: none;
    border-top: 1px solid var(--highlight);
    cursor: pointer;
    transition: 200ms;
  }

  button.button .text {
    color: var(--text);
    font-weight: 700;
    font-size: 1em;
    transition: 200ms;
  }

  button.button svg path {
    transition: transform 200ms ease-in-out;
  }

  button.button:hover {
    transform: scale(1.1);
    background-color: var(--bg-light);
  }

  button.button svg path {
    fill: var(--text);
  }
}

/* GENERAL CSS SELECTORS */

.title {
  font-size: clamp(1.5rem, 3.5dvw, 2.3rem);
}

.card {
  background-color: var(--bg-light);
  padding: 1rem 2rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
  gap: 2rem;
  box-shadow: 2px 0px 5px var(--blue-border);
}

.image {
  width: 60%;
}

.btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.button {
  color: var(--text);
  background-color: var(--bg);
  border: none;
  border-top: var(--highlight) 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 5px var(--bg-dark);
  cursor: pointer;
  transition:
    transform ease-in-out 0.3s,
    background-color ease-in-out 0.3s;
}

.button:hover {
  transform: scale(1.05);
  background-color: var(--highlight);
  color: var(--hover-highlight);
}

.modal {
  margin: auto;
  max-width: 60%;
  border-radius: 15px;
  background-color: var(--bg);
  border: none;
  box-shadow: 3px 0.5px 4px var(--blue-border);
  color: var(--text-muted);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 7px;
  border: none;
}

aside {
  min-width: 100%;
  min-height: 100%;
  padding: 1rem 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--bg-light);
}

nav.todo-page-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 15px;
  min-width: 100%;
  align-items: center;
  background-color: var(--bg-light);
}

/* SPECIFIC CSS SELECTORS */

.project-image {
  height: 250px;
}

.display-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text);
  align-items: center;
  background-color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 15px;

  h1.projects-page-title {
    font-family: "Orbitron";
    font-size: clamp(2rem, 4.5dvw, 3.3rem);
  }

  .projects-container {
    width: 100%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
  }
}

.add-new-project-btn {
  place-self: center;
  padding: 1rem 1.8rem;
  width: fit-content;
  background-color: var(--success);
  border-radius: 100px;
}

section.todo-container {
  min-width: 100%;
  padding: 0; /* resetting padding because I'm reusing classes*/
}

.view-project-btn {
  grid-area: 1/1/2/-1;
  background-color: var(--success);
}

button.edit-project-btn,
button.confirm-btn {
  background-color: var(--info);
}

button.delete-project-btn,
button.cancel-btn {
  background-color: var(--danger);
}

div.new-project-modal-btn-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
}

body > div.content > .selected-project-layout-div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1.5rem;
}

aside .sidebar-header h2 {
  display: flex;
  font-size: clamp(1.2rem, 3.5dvw, 2.3rem);
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
  border-top: var(--highlight) 1px solid;
  box-shadow: 0px 4px 2px var(--bg-dark);
  cursor: pointer;
}

label.hamburger-menu::before,
label.hamburger-menu::after,
label.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--text);
  border-radius: 6000px;
  transition: transform ease-in-out 0.3s;
}

label.hamburger-menu::before {
  transform: rotate(30deg);
  translate: 0.2rem 0rem;
}

label.hamburger-menu::after {
  transform: rotate(-30deg);
  translate: 0.2rem 0rem;
}

label.hamburger-menu input {
  appearance: none;
  display: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  transform: rotate(-30deg);
  translate: -0.2rem 0rem;
}
.hamburger-menu:has(input:checked)::after {
  transform: rotate(30deg);
  translate: -0.2rem 0rem;
}

@media (max-width: 770px) {
  div.content > div.selected-project-layout-div {
    display: flex;
    flex-direction: column;
  }

  nav label.hamburger-menu::before {
    transform: rotate(60deg);
    translate: -0.4rem 0.4rem;
  }

  nav label.hamburger-menu::after {
    transform: rotate(-60deg);
    translate: 0.35rem -0.29rem;
  }

  nav .hamburger-menu:has(input:checked)::before {
    transform: rotate(120deg);
    translate: -0.35rem 0.4rem;
  }
  nav .hamburger-menu:has(input:checked)::after {
    transform: rotate(-120deg);
    translate: 0.35rem -0.29rem;
  }
}
