@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/woff2Fonts/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.woff2");
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/woff2Fonts/Orbitron-VariableFont_wght.woff2");
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

::view-transition-new(root) {
  animation: circle-in 1300ms;
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }

  to {
    clip-path: circle(120% at 50% 0%);
  }
}

:root {
  font-size: 10px;
  font-family:
    Arial,
    Helvetica,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --bar-width: 15px;
  --bar-height: 3px;
  --hamburger-gap: 4px;

  --bg-dark: oklch(0.1 0 274);
  --bg: oklch(0.15 0 274);
  --bg-light: oklch(0.2 0 274);
  --text: oklch(0.96 0 274);
  --text-muted: oklch(0.76 0 274);
  --highlight: oklch(89.857% 0.00985 16.771);
  --border: oklch(0.4 0 274);
  --border-muted: oklch(0.3 0 274);
  --primary: oklch(0.76 0.1 274);
  --secondary: oklch(0.76 0.1 94);
  --danger: oklch(63.932% 0.18474 32.073);
  --warning: oklch(92.826% 0.18202 102.607);
  --success: oklch(66.475% 0.15351 153.883);
  --info: oklch(67.881% 0.13757 260.478);
  --hover-highlight: oklch(0% 0 0);
  --blue-border: oklch(63.042% 0.16069 251.222);
  --prio-low: linear-gradient(
    to right,
    oklch(76.419% 0.22514 140.992),
    oklch(36.651% 0.10841 141.762)
  );
  --prio-medium: linear-gradient(
    to right,
    oklch(77.119% 0.06879 259.641),
    oklch(27.008% 0.17384 265.168)
  );
  --prio-high: linear-gradient(
    to right,
    oklch(57.065% 0.14234 43.387),
    oklch(35.953% 0.12738 32.278)
  );
  --prio-emergency: linear-gradient(
    to right,
    oklch(63.527% 0.25078 30.533),
    oklch(47.102% 0.16922 30.967)
  );
  --completed-todo: oklch(27.01% 0.05253 157.372);
}

::backdrop {
  background-color: var(--bg-dark);
  opacity: 0.85;
}

body.light {
  --bg-dark: oklch(85.424% 0.04949 206.033);
  --bg: oklch(94.174% 0.06021 196.275);
  --bg-light: oklch(97.587% 0.03506 196.767);
  --text: oklch(0.15 0.13 207);
  --text-muted: oklch(0.4 0.13 207);
  --highlight: oklch(100% 0.00011 271.152);
  --border: oklch(0.6 0.13 207);
  --border-muted: oklch(0.7 0.13 207);
  --primary: oklch(0.4 0.13 207);
  --secondary: oklch(0.4 0.13 27);
  --danger: oklch(64.424% 0.23709 30.93);
  --warning: oklch(72.969% 0.17935 55.303);
  --success: oklch(81.811% 0.18159 159.266);
  --info: oklch(65.548% 0.17517 260.577);
  --hover-highlight: oklch(0% 0 0);
  --blue-border: oklch(62.212% 0.19061 253.711);
  --prio-low: linear-gradient(
    to right,
    oklch(85% 0.19577 140.661),
    oklch(64.682% 0.21602 142.096)
  );
  --prio-medium: linear-gradient(
    to right,
    oklch(72.706% 0.13192 225.409),
    oklch(53.57% 0.24563 262.164)
  );
  --prio-high: linear-gradient(
    to right,
    oklch(71.303% 0.1945 47.872),
    oklch(62.793% 0.25768 29.223)
  );
  --prio-emergency: linear-gradient(
    to right,
    oklch(63.527% 0.25078 30.533),
    oklch(64.64% 0.21488 30.886)
  );
  --completed-todo: oklch(89.545% 0.17773 156.973);
}

body {
  font-family: "Google Sans";
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;
  background-color: var(--bg-dark);
  font-size: clamp(1.2rem, 2.7dvw, 1.7rem);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0rem;
  color: var(--text);
  font-size: clamp(1.2rem, 3.5dvw, 2.3rem);
  font-family: "Orbitron";

  > button {
    position: absolute;
    right: 0;
    border-radius: 15px;
    border: none;
    background-color: var(--bg);
    padding: 0.7rem 1.5rem;
    box-shadow: 2px 5px 2px var(--bg-light);
    transition: transform ease-in-out 0.3s;
    cursor: pointer;
  }

  > button:hover {
    transform: scale(1.06);
  }
}

footer {
  padding: 2rem;
  background-color: var(--bg);
  color: var(--text);
  border-radius: 15px;
  position: relative;
  display: grid;
  place-items: center;

  button.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background: var(--bg-light);
    border-radius: 5px;
    border: none;
    border-top: 1px solid var(--highlight);
    cursor: pointer;
    transition: 200ms;
  }

  button.button .text {
    color: var(--text);
    font-weight: 700;
    font-size: 1em;
    transition: 200ms;
  }

  button.button svg path {
    transition: transform 200ms ease-in-out;
  }

  button.button:hover {
    transform: scale(1.1);
    background-color: var(--bg-light);
  }

  button.button svg path {
    fill: var(--text);
  }
}

/* GENERAL CSS SELECTORS */

.title {
  font-size: clamp(1.5rem, 3.5dvw, 2.3rem);
}

.card {
  background-color: var(--bg-light);
  padding: 1rem 2rem;
  border-radius: 15px;
  display: grid;
  place-items: center;
  gap: 2rem;
  box-shadow: 2px 0px 5px var(--blue-border);
  max-height: fit-content;
}

.image {
  width: 60%;
}

.btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.button {
  color: var(--text);
  background-color: var(--bg);
  border: none;
  border-top: var(--highlight) 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 5px var(--bg-dark);
  cursor: pointer;
  transition:
    transform ease-in-out 0.3s,
    background-color ease-in-out 0.3s;
}

.button:hover {
  transform: scale(1.05);
  background-color: var(--highlight);
  color: var(--hover-highlight);
}

.modal {
  margin: auto;
  width: min(50%, 50rem);
  border-radius: 15px;
  background-color: var(--bg);
  border: none;
  box-shadow: 3px 0.5px 4px var(--blue-border);
  color: var(--text-muted);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 7px;
  border: none;
}

aside {
  min-width: fit-content;
  min-height: 100%;
  padding: 3rem 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-light);
}

nav.todo-page-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 15px;
  min-width: 100%;
  align-items: center;
  background-color: var(--bg-light);
}

.sidebar-btn-hidden {
  transform: scale(0);
  opacity: 0;
  display: none;
}

div.todo-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--text-muted);
  > .title {
    align-self: center;
    color: var(--text);
    font-weight: 500;
  }

  > label {
    display: flex;
    gap: 1rem;

    > input {
      border: none;
      outline: none;
    }
  }

  > button {
    align-self: center;
    font-size: clamp(0.7rem, 3dvw, 1.3rem);
  }

  div {
    display: flex;
    gap: 1rem;
  }

  .todo-btn-container {
    display: grid;
    grid-template-rows: 1fr 1fr;

    > .edit-todo-btn {
      grid-area: 1/1/1/-1;
    }
  }

  .more-hidden {
    display: none;
  }
}

/* SPECIFIC CSS SELECTORS */

.project-image {
  height: 250px;
}

.display-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text);
  align-items: center;
  background-color: var(--bg);
  padding: 1rem 2rem;
  border-radius: 15px;

  h1.projects-page-title {
    font-family: "Orbitron";
    font-size: clamp(2rem, 4.5dvw, 3.3rem);
  }

  .projects-container {
    width: 100%;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
  }
}
/* 
.todo-container div.projects-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
} */

.add-new-project-btn {
  place-self: center;
  padding: 1rem 1.8rem;
  width: fit-content;
  background-color: var(--success);
  border-radius: 100px;
}

section.todo-container {
  min-width: 100%;
  padding: 0; /* resetting padding because I'm reusing classes */
}

/* bug */

.view-project-btn {
  grid-area: 1/1/2/-1;
  background-color: var(--success);
}

button.edit-project-btn,
button.confirm-btn {
  background-color: var(--info);
}

button.delete-project-btn,
button.cancel-btn {
  background-color: var(--danger);
}

div.new-project-modal-btn-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
}

body > div.content > .selected-project-layout-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  aside {
    width: 100%;
  }
  padding: 1.5rem;

  /* transition: grid-template-columns 0.1s ease-in-out;
  transition-behavior: allow-discrete;
  transition-delay: 0.1s; */
}

body
  > div.content
  > .selected-project-layout-div:has(input.hamburger-checkbox:checked) {
  grid-template-columns: 1fr 4fr;
}
/* 
body > div.content > .grid-area-toggle {
  grid-template-columns: 1fr 4fr;
} */

aside .sidebar-header h2 {
  display: flex;
  font-size: clamp(1.2rem, 3.5dvw, 2.3rem);
}

.todo-subTasks {
  padding: 0;

  > .todo-subtask-holder {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    > button.subtask-del-btn {
      padding: 0.2rem max(0.4rem, 1.5dvw);
      font-size: 1.1rem;
    }
  }
}

.edit-todo-btn {
  background-color: var(--success);
}

.move-todo-btn {
  background-color: var(--info);
}

.delete-todo-btn {
  background-color: var(--danger);
}

.todo-desc-var-div,
.todo-notes-var-div {
  text-align: justify;
  /* word-break: break-word; */
  hyphens: auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 15px;
  border-top: var(--highlight) 1px solid;
  box-shadow: 0px 4px 2px var(--bg-dark);
  cursor: pointer;
  transform: scale(0.8);
}

label.hamburger-menu::before,
label.hamburger-menu::after,
label.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--text);
  border-radius: 6000px;
  transition: transform ease-in-out 0.3s;
}

label.hamburger-menu::before {
  transform: rotate(30deg);
  translate: 0.2rem 0rem;
}

label.hamburger-menu::after {
  transform: rotate(-30deg);
  translate: 0.2rem 0rem;
}

label.hamburger-menu input {
  appearance: none;
  display: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  transform: rotate(-30deg);
  translate: -0.2rem 0rem;
}
.hamburger-menu:has(input:checked)::after {
  transform: rotate(30deg);
  translate: -0.2rem 0rem;
}

div.todo-card {
  .todo-priority-var-div {
    padding: 0rem 2rem;
    text-align: center;
    border-radius: 5px;
    color: var(--text);
  }
}

div.todo-card.low {
  .todo-priority-var-div {
    background: var(--prio-low);
  }
}

div.todo-card.medium {
  .todo-priority-var-div {
    background: var(--prio-medium);
  }
}

div.todo-card.high {
  .todo-priority-var-div {
    background: var(--prio-high);
  }
}

div.todo-card.emergency {
  .todo-priority-var-div {
    background: var(--prio-emergency);
  }
}

div.edit-project-modal-btn-container {
  grid-template-rows: 1fr;
}

div.todo-card.completed-todo {
  background-color: var(--completed-todo);
  --blue-border: oklch(68.219% 0.22304 141.582);
  > .title {
    text-decoration: line-through;
  }
}

nav.side-bar-link-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > a {
    width: fit-content;
    text-decoration: var(--text-muted) underline;
    cursor: pointer;
    transition:
      background-color ease-in-out 0.4s,
      padding ease-in-out 0.4s;
    transform-origin: bottom;
  }

  > a:hover {
    background-color: var(--text);
    color: var(--bg-dark);
    padding: 0rem 1rem;
    text-decoration: none;
  }
}

form.new-todo-form,
form.migrate-todo-form,
form.edit-todo-form {
  label {
    width: 100%;
  }

  .btn-container {
    grid-template-columns: 1fr;
  }
}

.alert-div {
  background-color: var(--danger);
  padding: 1rem;
  border-radius: 15px;
  color: var(--text);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  max-width: fit-content;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 2rem;
  position: fixed;
  top: 4rem;
  z-index: 2000;

  > .alert-text {
    text-align: justify;
    hyphens: auto;
  }

  > button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    display: grid;
    place-items: center;
    background-color: var(--bg-light);
  }
}

@media (max-width: 950px) {
  div.content > div.selected-project-layout-div {
    display: flex;
    flex-direction: column;

    section {
      width: 100%;
    }
  }

  div.alert-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    transform: none;
    left: 1rem;
    gap: 1rem;

    > .alert-text {
      grid-area: 2/1/3/3;
    }
    > button {
      grid-area: 1/2/2/3;
      place-self: end;
      align-self: center;
    }
  }

  nav label.hamburger-menu::before {
    transform: rotate(60deg);
    translate: -0.4rem 0.4rem;
  }

  nav label.hamburger-menu::after {
    transform: rotate(-60deg);
    translate: 0.35rem -0.29rem;
  }

  nav .hamburger-menu:has(input:checked)::before {
    transform: rotate(120deg);
    translate: -0.35rem 0.4rem;
  }
  nav .hamburger-menu:has(input:checked)::after {
    transform: rotate(-120deg);
    translate: 0.35rem -0.29rem;
  }

  dialog.modal {
    min-width: 80%;
  }
}
